form {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px skyblue solid;
    margin: auto;
    flex-direction: column;
}

form div{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

form div input{
    margin: 10px;
}

form div label{
    margin-right: auto;
}

button{
    margin: 10px 0;
}